.table {
	border-collapse: collapse;
}

.table tr {
	height: 2.3em;
}

.table td {
	width: 1.7em;
}

.evenRow {
	background-color: Gainsboro;
}

.oddRow {
	background-color: bisque;
}

.playerName {
	border-left: 2px solid;
	padding-left: 8px;
	padding-right: 8px;
	width: auto;
}

.missionResult {
	border-right: 2px solid;
	text-align: center;
	padding: 0 4px;
}

.fontWeightMedium {
	font-weight: 500;
}

.role {
	border-right: 2px solid;
	white-space: nowrap;
	padding-left: 8px;
	padding-right: 8px;
	width: auto;
}

.proposalCell {
	text-align: center;
	min-width: 2em;
	padding: 0 4px;
}

.role + td {
	padding-left: 8px;
}

.missionResult + td {
	padding-left: 8px;
	border-left: 2px solid;
}
