.table {
  border-collapse: collapse;
}

.table tr {
  height: 2.3em;
}

.table td {
  width: 1.7em;
}

.evenRow {
  background-color: Gainsboro;
}

.oddRow {
  background-color: bisque;
}

.playerName {
  border-left: 2px solid;
}

.missionResult {
  border-right: 2px solid;
}

.fontWeightMedium {
  font-weight: 500;
}

.role {
  border-right: 2px solid;
  white-space: nowrap;
}

.role + td {
  padding-left: 8px;
}

.missionResult + td {
  padding-left: 8px;
}
