.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table {
	border-collapse: collapse;
}

.table td {
	text-align: right;
	padding-left: 1em;
	padding-right: 1em;
}

.statsHeader {
	border-bottom: 2px solid;
}

.fontWeightMedium {
	font-weight: 500;
}

.playtime {
	padding-top: 0.5rem;
	margin-top: 0.75rem;
}
