# Jobs that run on push to main, after pull requests are merged. Jobs here can be a subset of the jobs that run on merge_group. These jobs should never fail since the jobs in merge_group already passed.

on:
    push:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    install-and-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: jdx/mise-action@v3

            - name: Get pnpm store directory
              run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

            - uses: actions/cache@v4
              with:
                  path: ${{ env.STORE_PATH }}
                  key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - run: just install
            - run: just build-ci
            - name: Copy Prisma WASM to worker assets (workaround for bundling bug)
              run: cp ./dist/client/assets/query_engine_bg-*.wasm dist/worker/assets/
            - run: npx wrangler deploy --config dist/worker/wrangler.json
              env:
                  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
